<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div>
            <input type="text" placeholder="请输入姓名" v-model="name">
            <br>
            <input type="text" placeholder="请输入年龄" v-model="age">
            <br>
            <input type="text" placeholder="请输入性别" v-model="sex">
            <br>
            <button @click = 'add'>添加</button>
        </div>
         <table border="1">
            <tr>
                <th>姓名</th>
                <th>年龄</th>
                <th>性别</th>
                <th>操作</th>
            </tr>
            <tr v-for="(item,index) in userList" :key="index">
                <td>{{item.name}}</td>
                <td>{{item.age}}</td>
                <td>{{item.sex}}</td>
                <td>
                    <button @click="remove(index)">删除</button>
                </td>
            </tr>
         </table>
    </div>
</body>
<script src="../vue.js"></script>
<script>
    new Vue({
        el:"#app",
        data:{
            userList:[
                {
                    name:"张三",
                    age:12,
                    sex:"男"
                },{
                    name:"李四",
                    age:18,
                    sex:"男"
                },{
                    name:"王红",
                    age:8,
                    sex:"女"
                },{
                    name:"小利",
                    age:20,
                    sex:"女"
                }
            ],
            name:"",
            age:"",
            sex:""
        },
        methods: {
            add(){
                console.log(this.name,this.age,this.sex)
                let obj = {
                    name:this.name,
                    age:this.age,
                    sex:this.sex
                }
                this.userList.push(obj)
            },
            remove(index){
                this.userList.splice(index,1)
            }
        },
    })
</script>
</html>