<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="app">
        <p>{{check}}</p>
        <div v-for="(item,index) in list">
            <input type="checkbox" name="check" id="" v-model="check" :value="item.id">{{item.uname}}
        </div>
        <button @click="del">删除</button>

    </div>
</body>
<script src="../bin/vue-2.7.10.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            check: [],
            list: [
                {
                    id: 1111,
                    uname: "玩游戏",
                    type: "game"
                },
                {
                    id: 2222,
                    uname: "看电影",
                    type: "watch",
                },
                {
                    id: 3333,
                    uname: "看小说",
                    type: "novel"
                },
                {
                    id: 4444,
                    uname: "听音乐",
                    type: "music"
                },
                {
                    id: 5555,
                    uname: "追剧",
                    type: "tv"
                }
            ]

        },
        methods: {
            del() {
                console.log(this.check);
                this.check.forEach(item => {
                    let index = this.list.findIndex(item2 => item2.id == item);
                    this.list.splice(index, 1)
                });
            }
        }
    })
</script>

</html>